$headerBackgroundColor: #3EBFFF;
$darkBlue: #23303C;
$testimonialsBackgroundColor: #f8eee6;
$footerColor: hsl(168, 34%, 41%);
$designSectionFont: hsl(167, 40%, 24%);
$photoSectionFont: hsl(198, 62%, 26%);
$footerBackgroundColor: #90D4C5;
$hrColorRed: hsl(7, 99%, 70%);
$hrColorYellow: hsl(51, 100%, 49%);