.square-grid {
  display: -ms-grid;
  display: grid;
  --auto-grid-min-size: 16rem;
  -ms-grid-columns: (minmax(900px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(900px, 1fr));
  width: 100%;
}

.container-grid {
  display: -ms-grid;
  display: grid;
  --auto-grid-min-size: 16rem;
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  width: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  margin: 2% 5%;
  font-size: 1.2em;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  list-style: none;
  margin-right: 2rem;
}

h1 {
  font-size: 5rem;
  margin-top: 12%;
  color: #fff;
}

header {
  background-color: #3EBFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image-header img {
  width: 100%;
}

.image img {
  width: 100%;
}

.square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 22%;
  margin-right: 22%;
  min-height: 765px;
}

h2 {
  font-size: 3.2rem;
}

p {
  font-size: 1.2rem;
  font-family: 'Barlow', sans-serif;
}

.grey {
  color: #9A9BA2;
  margin: 10% 0;
}

a:link {
  text-decoration: none;
}

h1, h2, h3, a, .name {
  font-family: 'Fraunces', serif;
}

h2, a, .name {
  color: #23303C;
}

.clients-h3 {
  font-size: 1.5rem;
  color: #afaca6;
  text-align: center;
  background-color: #f8eee6;
  padding-top: 5%;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8eee6;
  padding-top: 5%;
  padding-bottom: 8%;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.testimonial img {
  border-radius: 50%;
  max-width: 15%;
  margin-bottom: 10%;
}

.testimonial p {
  margin-left: 10%;
  margin-right: 10%;
}

.name {
  font-size: 1.5em;
  margin-top: 10%;
  margin-bottom: 2%;
}

.job {
  color: #afaca6;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #90D4C5;
}

/*
@media (min-width: 30em) {
    .square {
        margin-left: 5%;
        margin-right: 5%;
        text-align: center
    }
    
} */
/*# sourceMappingURL=style.css.map */