@import "./grid";
@import "./variables";



*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 2% 5%;
    font-size: 1.2em;

   ul {
       margin-left: 55%;
       margin-top: 0.5em;

    }

    a{
        color: white;
        text-decoration: none;
        &:hover { background-color:lightblue;
            color: white;
            border-radius: 25px;
            border: none;
            padding: 10px;
        }
    }

}
input {
    display: none;
}

#sunnyside {
    width: 12rem;
    position: absolute;
    top:25px;
    left: 20px;
}


ul {
    display: flex; 
    
    
}

li {
    list-style: none;
    margin-right: 2rem;
    
}
h1 {
    font-size: 4rem;
    margin-top: 12%;
    color: #fff;
    letter-spacing: 0.2em;
}
header {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background: url("../images/image-header.jpg") no-repeat bottom/cover;
    background-size: cover;
    background-position: center;
    min-height: 20rem;
        figure{ 
            img{
            width:3%;
            padding-bottom: 25%;
            margin: 0 auto;
            display: block;
            }
        }
    
    h1  {
        padding-bottom: 5%;
    }
}



img {
    width:100%;
    display: block;


}

/*
.image {
    
      display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;

    }
  */
    

.image {
    img {
        height: 100%;
        object-fit: cover;
    }
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 22%;
    margin-right: 22%;
    min-height: 765px;

    a {
        text-decoration: none
    }
    hr {
        width: 8em;
        padding: 0.3em;
        border-radius: 18px;
        border: none;
        
    }
 
}
.hr__red{
    background-color: $hrColorRed;
   
}

 .hr__yellow{

    background-color: $hrColorYellow;
    
}

h2 {
    font-size: 3.2rem;
    
}
p {
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

.grey{
    color : #9A9BA2;
    margin: 10% 0;
 }

h1, h2, h3, a, .name {
    font-family: 'Fraunces', serif;
    
}

h2, a, .name {
  color: $darkBlue;
}

.clients-h3{
    font-size: 1.5rem;
    color: #afaca6;
    text-align: center;
    background-color: $testimonialsBackgroundColor;
    padding-top: 5%
}

.testimonials {
    display: flex;
    background-color: $testimonialsBackgroundColor;
    padding-top: 5%;
    padding-bottom: 8%;
}

.testimonial {
  
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
   
    img{
        border-radius: 50%;
        max-width: 15%;
        margin-bottom: 10%;
    }
    p {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.testimonial__text{

    p{
        color: red;
    }
}

.name {
    font-size: 1.5em;
    margin-top: 10%;
    margin-bottom: 2%;
}

.job {
    color: #afaca6;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $footerBackgroundColor;
    color: $footerColor;
    padding-top: 4%;
    
    h3 {
        font-size: 2em;
        margin-bottom: 3%;
     
     }
     .footer__icons {
        margin-top: 8%;
        padding-bottom: 5%; 
        font-size: 1.5em;
        
    }
    i {
        &:hover { 
            color: white;
        }

    }

    a {
        text-decoration: none;
        color: $footerColor;
        &:hover{
            color: white;
        }
    }
}


     
.image-background-design {
    background-image: url(../images/image-graphic-design.jpg);
    h4, p {
        color: $designSectionFont;
    }
    }
.image-background-photo {
    background-image: url(../images/image-photography.jpg);
    h4, p {
        color : $photoSectionFont;
    }
}

.image-background-design, .image-background-photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: center;
    
    h4{
        font-size: 2em;
        margin-bottom: 5%;
    }
    p {
        margin-left: 22%;
        margin-right: 22%;
        margin-bottom: 7%;
    }

    img {
        width: 100%;
       }
}



@import "./media"; 
