.square-grid {
  display: -ms-grid;
  display: grid;
  --auto-grid-min-size: 16rem;
  -ms-grid-columns: (minmax(900px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(900px, 1fr));
  width: 100%;
}

.container-grid {
  display: -ms-grid;
  display: grid;
  --auto-grid-min-size: 16rem;
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  width: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  margin: 2% 5%;
  font-size: 1.2em;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: lightblue;
  color: white;
  border-radius: 25px;
  border: none;
  padding: 1em;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  list-style: none;
  margin-right: 2rem;
}

h1 {
  font-size: 5rem;
  margin-top: 12%;
  color: #fff;
}

header {
  background-color: #3EBFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  width: 100%;
}

.square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 22%;
  margin-right: 22%;
  min-height: 765px;
}

.square a {
  text-decoration: none;
}

.square hr {
  width: 8em;
  padding: 0.3em;
  border-radius: 18px;
  border: none;
}

.hr__red {
  background-color: #fe7867;
}

.hr__yellow {
  background-color: #fad400;
}

h2 {
  font-size: 3.2rem;
}

p {
  font-size: 1.2rem;
  font-family: 'Barlow', sans-serif;
}

.grey {
  color: #9A9BA2;
  margin: 10% 0;
}

h1, h2, h3, a, .name {
  font-family: 'Fraunces', serif;
}

h2, a, .name {
  color: #23303C;
}

.clients-h3 {
  font-size: 1.5rem;
  color: #afaca6;
  text-align: center;
  background-color: #f8eee6;
  padding-top: 5%;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8eee6;
  padding-top: 5%;
  padding-bottom: 8%;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.testimonial img {
  border-radius: 50%;
  max-width: 15%;
  margin-bottom: 10%;
}

.testimonial p {
  margin-left: 10%;
  margin-right: 10%;
}

.name {
  font-size: 1.5em;
  margin-top: 10%;
  margin-bottom: 2%;
}

.job {
  color: #afaca6;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #90D4C5;
  color: #458c7e;
  padding-top: 4%;
}

footer h3 {
  font-size: 2em;
  margin-bottom: 3%;
}

footer .footer__icons {
  margin-top: 8%;
  padding-bottom: 5%;
  font-size: 1.5em;
}

.image-background-design {
  background-image: url(../images/image-graphic-design.jpg);
}

.image-background-design h4, .image-background-design p {
  color: #25564b;
}

.image-background-photo {
  background-image: url(../images/image-photography.jpg);
}

.image-background-photo h4, .image-background-photo p {
  color: #19536b;
}

.image-background-design, .image-background-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 765px;
}

.image-background-design h4, .image-background-photo h4 {
  font-size: 2em;
  margin-bottom: 5%;
}

.image-background-design p, .image-background-photo p {
  margin-left: 22%;
  margin-right: 22%;
  margin-bottom: 10%;
}

.image-background-design img, .image-background-photo img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */